---
layout: default
title: Conference Program
og_tags:
- property: og:description
content: Program
---

<h2>NDN Community Meeting Program</h2>

<p>
<b>The NDN community meeting offers an opportunity for everyone to share work-in-progress, identify synergies among different efforts, and jointly tackle remaining challenges.
Each talk is allocated 20-25min, including Q&A, unless specified otherwise, with the expectation that the speakers leave adequate time for Q&A and discussions.</b>
<br/>
Q&A and discussions are held via a shared workspace called Ownly. An archive of the workspace can be found <a href="https://github.com/a-thieme/ndncomm2026-ownly-archive/">here</a>.
</p>


{% comment %}
Kindly note that the schedule below is tentative and subject to updates.
{% endcomment %}

{% comment %}

<p style="text-align: center;">
  <a data-ajax="false" href="{{ site.data['program-at-glance'] }}.pdf?digest={{ site.data['program-at-glance-digest'] }}">Conference Schedule at a Glance
    <img src="{{ site.data['program-at-glance'] }}.png?digest={{ site.data['program-at-glance-digest'] }}" style="max-width: 100%" /></a>
</p>



<h3>Schedule</h3>
{% endcomment %}

<div id="prog_ctrl" data-role="navbar">
  <ul>
    <li><a href="#" onClick="filter('thursday');">Thursday</a></li>
    <li><a href="#" onClick="filter('friday');">Friday</a></li>
    <li><a href="#" onClick="filter('all');" class="ui-btn-active ui-state-persist roundright">All Days</a></li>
  </ul>
</div>

{% include program-online.html type="program" %}


{% comment %}

  <h3>List of Accepted Posters</h3>
  {% include program-online.html type="posters" %}

  <h3>List of Accepted Demos</h3>
  {% include program-online.html type="demos" %}

{% endcomment %}
