---
layout: nil
---
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="{% if page.title and page.title != '' %}{{ page.title }} - {% endif %}{{ site.title }}" />
    <meta property="og:image" content="{{ site.url }}{% link assets/images/{{ site.logo.image }} %}" />
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    {% for og in page.og_tags %}
    <meta property="{{ og.property }}" content="{{ og.content }}" />
    {% endfor %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google-site-verification" content="TKayd5HdqB6PUULD91IydTqk_LrvM6H3i7P2TtowbEQ" />
    <meta name="msvalidate.01" content="7BB044E8C67F238B78085B911F43E53E" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="copyright" content="The ACM ICN 2023 Website is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License. Based on the ACM SIGCOMM 2012 web site available at https://github.com/ryanrhymes/SIGCOMM2012" />

    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/images/site.webmanifest">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{% if page.title and page.title != "" %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <link rel="stylesheet" href="assets/css/site.css">
    <script src="https://kit.fontawesome.com/f00af20dbd.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
	 chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div data-role="page" data-theme="a" class="main-page">

      <div class="header" data-role="header" data-theme="a" data-position="inline">
        <div>
          <a href="{{ site.baseurl }}/">
              <img src="{% link assets/images/{{ site.logo.image }} %}" alt="{{ site.logo.info }}" />
          </a>
        </div>
        <a href="#" onclick="$.mobile.silentScroll($.mobile.activePage.find('.leftnav').position().top)" id="menu-btn" class="ui-btn-right" data-corners="true" data-icon="grid">MENU</a>
      </div>

      <div data-role="content" class="ui-content">
        <div class="content-primary">

          <h1>NDN Community Meeting 2026 (NDNComm 2026)</h1>

          {{ content }}
        </div><!-- content-primary -->

        {% include menu.html %}
      </div> <!-- content -->

      {% if page.url != "/supporters.html" %}
        <div class="logobar" data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="c"></div>
      {% endif %}

    </div> <!-- page -->

    {% if page.url != "/supporters.html" %}
      {% include supporters.html %}
    {% endif %}

    {% include google-analytics.html %}

    <script type="text/javascript" src="assets/js/site.js"></script>
    <!--   asset site.js  -->
  </body>
</html>
